<mat-card>
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required email />
      <mat-error *ngIf="!loginForm.controls['email']?.valid"> not a valid email </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required />
      <mat-error *ngIf="!loginForm.controls['password']?.valid"> wrong password </mat-error>
    </mat-form-field>
    <button type="submit">Login</button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </form>
</mat-card>
