<div class="row justify-content-center p-5">
  <div class="col-md-6">
    <ul class="list-group">
      <li
        *ngFor="let product of products"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <div>
          <strong>{{ product.name }}</strong
          ><br />
          <small>{{ product.price | currency : 'USD' }}</small>
        </div>
        <a [routerLink]="['/products', product.id]" class="btn btn-primary btn-sm">View</a>
      </li>
    </ul>
  </div>
</div>
